<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spzx.user.mapper.UserInfoMapper">

    <resultMap type="UserInfo" id="UserInfoResult" autoMapping="true">
    </resultMap>

    <sql id="selectUserInfoVo">
        select id, username, nick_name, phone, avatar, sex, memo, open_id, union_id, last_login_ip, last_login_time,
               status, create_time, remark from user_info
    </sql>

    <select id="selectUserInfoList" parameterType="UserInfo" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        <where>
            <if test="username != null  and username != ''">
                and (username like concat('%', #{username}, '%') or nick_name like concat('%', #{username}, '%') or
                phone like concat('%', #{username}, '%'))
            </if>

            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            and del_flag = 0
        </where>
    </select>

</mapper>
