<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace属性：配置接口的全类名-->
<mapper namespace="com.spzx.product.mapper.BrandMapper">

    <resultMap type="Brand" id="BrandResult" autoMapping="true">
    </resultMap>

    <sql id="selectBrandVo">
        select id, name, logo, create_by, create_time, update_by, update_time, del_flag, remark from brand
    </sql>

    <select id="selectBrandList" resultMap="BrandResult">
        <include refid="selectBrandVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="logo != null  and logo != ''">and logo = #{logo}</if>
            <if test="remark != null  and remark != ''">and remark like concat('%', #{remark}, '%')</if>
            and del_flag = 0
        </where>
    </select>

    <select id="getInfo" resultType="com.spzx.product.domain.Brand">
        <include refid="selectBrandVo"></include>
        where id = #{id}
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into brand(
        <if test="name != null and name != ''">name,</if>
        <if test="logo != null and logo != ''">logo,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="name != null and name != ''">#{name},</if>
        <if test="logo != null and logo != ''">#{logo},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="edit">
        update brand
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="logo != null and logo != ''">logo = #{logo},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>
    
    <update id="remove">
        update brand set del_flag = '2' where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>